<div class="container">
    <nav style="background-color: steelblue" class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" style="color:white" href="#">Mongo Scraper</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a style="color:tomato" href="/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li>
                        <a style="color:white" href="/savedArticles">Saved Articles</a>
                    </li>
                    <li>
                        <a  id="scrapeButton" style="background-color:red; color:white" href="/scrape">Scrape New Articles</a>
                    </li>

                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    {{!-- Scrape results modal --}}
    <div class="modal fade" id="scrapeModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="scrapeModalLabel">Scrape Results</h5>
                    <button type="button" class="close" id="closeModal" data-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <h3 class="text-center" id="numArticles"></h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="closeModal" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div style="background-image:url('./images/NYT.jpeg');background-size: cover;
	background-position: center;
	background-repeat: no-repeat; height: calc(50vh - 66px);" class="jumbotron">
        <h1 style="text-align:center; color:white">MONGO SCRAPER</h1>
        <p style="text-align:center; color:white">NEW YORK TIMES EDITION</p>

    </div>
    <div class="row">
        <div class="col-12">
            <ul>
                {{#each articles}}
                <li>
                    <div {{this.id}}>
                        <div class="panel panel-default">
                            <div style="color:white; background-color:steelblue" class="panel-heading">
                                <div class="article-heading">
                                    <h1>{{this.title}}</h1>
                                </div>
                                <p>
                                    <a style="color:white; background-color:green" href="#" class="btn btn-primary" data-id="{{this.id}}" role="button">Save Article</a>
                                </p>
                            </div>
                            <div class="panel-body">
                                <h4>{{this.summary}}</h4>
                            </div>
                        </div>
                    </div>
                </li>
                {{/each}}


            </ul>

            {{#if articles}}
            <footer class="footer py-3">
                <div class="container text-center">
                    <button type="button" class="btn btn-light btn-sm" id="cleardb">CLEAR DATABASE</button>
                </div>
            </footer>
            {{else}}
            <div style="background-color:steelblue; color:white" class="card">
                {{/if}}
                <h3 class="card-header text-white text-center">
                    Uh Oh. Looks like we don't have any news articles.
                </h3>
            </div>
        </div>
    </div>
</div>