<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" style="color:white" href="#">Mongo Scraper</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a style="color:tomato" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a style="color:white" href="/savedArticles">Saved Articles</a>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-danger btn-sm" style="background-color:red; color:white" id="scrapeButton">SCRAPE NEW ARTICLES</button>
                </li>
            </ul>
        </div>
    </nav>

    {{!-- Scrape results modal --}}
    <div class="modal fade" id="scrapeModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="scrapeModalLabel">Scrape Results</h5>
                    <button type="button" class="close" id="closeModal" data-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <h3 class="text-center" id="numArticles"></h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="closeModal" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div style="background-image:url('./images/NYT.jpeg');background-size: cover;
	background-position: center;
	background-repeat: no-repeat; height: calc(50vh - 66px);" class="jumbotron">
        <h1 style="text-align:center; color:white">MONGO SCRAPER</h1>
        <p style="text-align:center; color:white">NEW YORK TIMES EDITION</p>

    </div>
    <div class="row">
        <div class="col-12">
            {{#each articles}}
            <div {{this.id}}>
                <div style="color:white; background-color:steelblue" class="card">
                    <h1 class="card-header">{{this.title}}</h1>
                    <div class="card-body">
                        <h4>{{this.summary}}</h4>
                        <a style="color:white; background-color:green" href="/" id="savearticle" class="btn btn-primary" data-id="{{this.id}}" role="button">Save Article</a>
                    </div>
                </div>
            </div>
            {{/each}} {{#if articles}}
            <footer class="footer py-3">
                <div class="container text-center">
                    <button type="button" class="btn btn-light btn-sm" id="cleardb">CLEAR DATABASE</button>
                </div>
            </footer>
            {{else}}
            <div style="background-color:steelblue; color:white" class="card">
                <h3 class="card-header text-white text-center">
                    Uh Oh. Looks like we don't have any news articles.
                </h3>
            </div>
            {{/if}}
        </div>
    </div>
</div>